/* color
iris - #4D5AE5; primary brand
ocean -#404BBf; pressed
navy blue -#2E2F42; dark
green - #31D0AA;  success
slate - #434455;  text
ligth slate -#8E8F99;  subtle text
cornflower - #E7E9FC;  accent
cloud - #F4F4FD; light background
navy blue modal - #2E2F42; modal overlay
grey - #2E2F42; hero background               ?
white - #FFFFFF; white background
dairy - #FCFCFC; modal background

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body {
    background-color: #ffffff;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

.container { 
    width: 320px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	.container {
		width: 768px;
	}
}

@media (min-width: 1158px) {
	.container {
		width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.container-header {
    display: flex;
    justify-content: space-between;
        
    
}

/* Hidden header */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section {
	padding-top: 96px;
	padding-bottom: 96px;
}

@media (min-width: 1158px) {
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

/*Headlines*/

h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em
}
h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
p {
line-height: 1.5;
letter-spacing: 0.02em;
}
/*Header*/
.main-header {
    position: relative;
    padding: 17px 0;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-header .containet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px) {
.main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 0; 
    padding-bottom: 0;
}
}


@media (min-width: 288px) and (max-width: 767px) {
	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
        display: flex;
        flex-direction: column;
		/* background-color: rgba(244, 244, 253, 1); */
        background-color: #FFFFFF;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
        padding-top: 72px;
        padding-left: 16px;
        padding-bottom: 40px;
        padding-right: 24;
	}
}

	.mobile-menu.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

    .close-form-mobile-menu {
		position: absolute;
		top: 24px;
		right: 24px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0;
		cursor: pointer;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

    .mobile-button-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
     
	.icon-mobile-menu {
        fill: rgda(47, 47, 55, 1)
    }	
	

	.page-nav-link-mobile-menu {
		display: flex;
		flex-direction: column;
		gap: 40px;
		margin-bottom: 168px;
	}

    .page-link-mobile-menu {
		font-size: 36px;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: 0.02em;
		color: var(--dark-navy-blue);
    }

	.page-link-mobile-menu.current {
		color: #404BBf;
	}
    .adress-mobile-menu {
        margin-top: auto;
    }
	.page-nav-address-mobile-menu {
		
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.contact-link-mobile-menu {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: #434455;
	}

	.contact-link-mobile-menu-tel {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: #4d5ae5;
	}

	.social-list-mobile-menu {
		display: flex;
		gap: 40px;
		margin-top: 48px;
		
	}

	.icon-list-mobile-menu {
		width: 40px;
		height: 40px;
	}

	.icon-link-mobile-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #4D5AE5;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
	}

	.svg-mobile-menu {
		fill: #F4F4FD;
	}


@media (min-width: 768px) {
	.mobile-menu {
		display: none;
	}

	.mobile-button-menu {
		display: none;
	}

	.icon-mobile-menu {
		display: none;
	}
    
    
}
/* .nav-list {
    display: none;
} */
.main-nav {
    display: none;
}
.contact {
	display: none;
}



@media (min-width: 768px) {
	.site-nav {
		display: flex;
		align-items: center;
	}

	
	.main-nav {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.contact {
		display: block;
        align-content: space-between;

	}

	.site-contact {
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;
		font-style: normal;
        margin-top: 16px;
        margin-bottom: 16px;
        


	}
    

}

@media (min-width: 1158px) {
	.site-nav {
		display: flex;
		align-items: center;
	}

	.site-contact {
		flex-direction: row;
		align-items: center;
		font-style: normal;
		gap: 40px;
              
        padding-top: 24px;
        padding-bottom: 24px;



	}
}
.link-logo {
    color: #4D5AE5 ;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .link-logo {
        margin-right: 76px;
    }
}
@media (min-width: 1158px) {
    .link-logo {
        padding: 24px 0;
    }
}

.logo-header {
    color : #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}
.page-link {
	color: #2E2F42;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-weight: 500;
	padding: 24px 0;
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
	.current {
		position: relative;
		color: #404BBf ;
		line-height: 1.5;
		letter-spacing: 0.02em;
		font-weight: 500;
		padding: 20px 0;
		display: block;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (min-width: 768px) {
	.current::after {
		display: block;
		position: absolute;
		left: 0;
		bottom: -5px;
		content: "";
		width: 48px;
		height: 4px;
		border-radius: 2px;
		background-color: #404BBf;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (min-width: 1158px) {
	.page-link:hover,
	.page-link:focus {
		color: #404BBf;
	}

	.contact-link:hover,
	.contact-link:focus {
		color: #404BBf;
	}
}

.contact-link {
	color: #434455;
	line-height: 1.5;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
	.contact-link {
		font-size: 12px;
	}
}

@media (min-width: 1158px) {
	.contact-link {
		font-size: 16px;
	}
}
    




/*Hero*/
.hero {
    background-color: #2E2F42 ;
    text-align: center;
    /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); */
    background-repeat: no-repeat;
    background-color: rgda(46, 47, 66, 1);
    background-position: center;
    background-size: cover; 
	margin: 0 auto;
	position: relative;
    padding: 72px 0;
}
/* @media (min-width: 192px) {
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office2x.jpg);
    background-repeat: no-repeat;
	}
}

@media (min-width: 1158px) {
	.hero {
		padding: 188px 0;
		max-width: 1440px;
	}
} */
@media screen and (max-width: 767px) {
    .hero {
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/mobilehero1x.jpg')  ;
    }

    
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (max-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/mobilehero2x.jpg');
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/tablethero1x.jpg');
    }

    
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
screen and (max-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/tablethero2x.jpg');
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/desktophero1x.jpg');
    }

   

}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (max-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/desktophero2x.jpg');
    }
}




.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
      
	font-family: Roboto;
	font-style: normal;
	
	line-height: 1.11;
	letter-spacing: 0.02em;
	width: 220px;
	margin: 0 auto 72px;
	text-transform: capitalize;


}
@media (min-width: 768px) {
	.hero-title {
		width: 496px;
		font-size: 56px;
		margin: 0 auto 36px;
		line-height: 1.07;
		padding: 0;
	}
}

@media (min-width: 1158px) {
	.hero-title {
		margin: 0 auto 48px;
	}
}





/*Button*/
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5 ;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
}
@media (min-width: 1158px) {


.button:hover {
    background-color: #404BBf;
}
.button:focus {
    background-color: #404BBf;
}
}



/* Our advantages */
.advantage-main {
    margin: 96px auto;
    

}


@media (min-width: 1158px) {
    .advantage-main {
        margin: 120px 0px;
    }
}

.ouradvant-list {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 72px; 
}
@media (min-width: 768px) {
    .ouradvant-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .ouradvant-item {
        flex-basis: calc((100% - 24px)/2);
    }
}
@media (min-width: 1158px) {
    .ouradvant-list {
        
        flex-wrap: nowrap;
        
    }
    .ouradvant-item {
        flex-basis: calc((100% - 72px)/4);
    }
}
.list-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
@media (min-width: 768px) {
    .list-title {
        text-align: left;
    }
}
@media (min-width: 1158px) {
    .list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    }
}

.advantages-background {
    display: none;
}
@media (min-width: 1158px) {
 .advantages-background {
    background-color: #F4F4FD;
    display: flex;
    /* gap: 24px; */
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px; 
    width: 264;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
 }
    
} 
.list-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media (min-width: 1158px) {
    .list-text {
        font-weight: 400;
        width: 264px;
    }
}

/* .advantages-sprite {
    width: 64px;
    height: 64px;
} */
/* .ouradvant-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
   
    
} */


/*Our portfolio*/
.list-portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 48px;               }

.item-portfolio {
    border-bottom: 1px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 } 

 @media (min-width: 768px) {
    .list-portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 72px 24px;
    }
    .item-portfolio {
        flex-basis: calc((100% - 24px)/2);
    }
     .picture-overlay {
        width: 356px;
    } 
}

@media (min-width: 1158px) {
    .list-portfolio {
        
        gap: 48px 24px;
    }
    .item-portfolio {
        flex-basis: calc((100% - 48px)/3);
    }
    .picture-overlay {
        width: 100%;
    } 
}


.data-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-portfolio {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    
}
.titles-portfolio {
    margin-bottom: 8px;
}

   
.item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    

}


    
     


/*Our team*/
.our-team {
    background-color: #F4F4FD;
    /* padding: 120px 0; */
}

@media (min-width: 768px) {
	.our-team-container {
		width: 584px;
	}
}

@media (min-width: 1158px) {
	.our-team-container {
		min-width: 1158px;
	}
}


.title-ourteam {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
  
    margin-bottom: 72px;
    
}
.list-ourteam {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    
    
}
.item-ourteam {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
}

@media (min-width: 768px) {
    .list-ourteam {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;
      justify-content: center;
    }
    .item-ourteam {
        width: calc((100% -24px)/2);
    }
}
@media (min-width: 1158px) {
    .list-ourteam {
      
      flex-wrap: nowrap;
      gap: 24px;
      justify-content: center;
    }
    .item-ourteam {
        width: calc((100% - 48px) / 4);
    }
}

.text-team {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.data-team {
    padding: 32px 0;
    text-align: center;
}
.title-team {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    /* flex-direction: row; */
    gap: 24px;
    margin-top: 8px;
    /* margin-left: 16px;
    margin-right: 16px; */
    justify-content: center;
  

}

.team-item {
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sprite {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD ;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  @media (min-width: 1158px) {
  .team-sprite:hover {
    background-color: #404BBf ;
    fill: #F4F4FD ;
  }
  .team-sprite:focus {
    background-color: #404BBf ;
    fill: #F4F4FD ;
  }
}
  
/*Footer*/
.container-position {
    display: flex;
    flex-direction: column;
    gap: 72;
    align-items: center;
}
.footer-social-media {
    margin-top: 72px ;
    margin-bottom: 72px;
}
/* .footer-inscripshion{
    margin-bottom: 72px;
} */
@media (min-width: 768px) {
    .container-position {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      align-items: start;
      width: 584px;
    }
    .footer-social-media {
        margin: 0;
    }
}
@media (min-width: 1158px) {
    .container-position {
      
      flex-wrap: nowrap;
      gap: 0;
      align-items: start;
      width: 1158px;
      align-items: baseline;
    }
    .footer-inscripshion {
        margin-right: 120px;
    }
}



footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96 px;
    margin: 0 auto;
  
}

@media (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}     


.footer-text {
    width: 288px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin-top: 17px;
}
@media (min-width: 768px) {
    .footer-text {
        max-width: 264 px;
    }
}




.link-logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 16px;
    text-align: center;
    
}
@media (min-width: 768px) {
    .link-logo-footer {
        padding: 0;
        text-align: left;
    }
}

.footer-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;

}
@media (min-width: 768px) {
    .footer-title {
        text-align: left;
    }
}




.footer-list {
    display: flex;
    gap: 16px;
}
.footer-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sprite {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD ;
    background-color: #4d5ae5 ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 1158px) {
  .footer-sprite:hover {
    background-color: #31D0AA ;
    fill: #F4F4FD ;
  }
  .footer-sprite:focus {
    background-color: #31D0AA ;
    fill: #F4F4FD ;
  }
}

.form-subs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    
   }
   @media (min-width: 768px) {
    .form-subs {
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
}

.form-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff; 
    border-radius: 4px;
    padding-left: 16px;
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    
  }
  
  @media (min-width: 1158px) {
    .form-input {
        width: 264px;
    }
  }



 
  .footer-icon {
    fill: #f4f4fd;
  }
  

  @media (min-width: 1158px) {
  
  .icon-subs {
    margin-left: 80px;
  }
}
    

  
   .button-subs {
    display: flex;
    justify-content: center; 
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.06em;
    width: 165px;
    height: 40px;
    align-items: center;
    text-align: center;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    border: 1px; 
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;

  }
  @media (min-width: 1158px) {
    .button-subs:hover,
    .button-subs:focus {
        background-color: #404bbf;
    }
}
 

  .icon-footer {
    margin-left: 16px; 
    fill: #fff;
  }
  /*Porfolio overlay*/

    .picture-overlay {
        position: relative;
        overflow: hidden;
    }
    .text-overlay {
        position: absolute; 
        top: 0; 
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd; 
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
   
    .item-portfolio:hover .text-overlay {
        transform: translateY(0%);
    }
    /* Modal */
    .container-modal {
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 500ms linear, visibility 500ms linear;

    }
    .container-modal.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .modal {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 288px;
        min-height: 623px;
        background: #fcfcfc; 
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 16px 24px 16px; 

              

    }
    @media (min-width: 768px) {
        .modal {
            width: 408px;
            min-height: 584px;

        }
    }





    .modal-button {
        position: absolute; 
        top: 24px;
        right: 24px; 
        width: 24px;
        height: 24px; 
        border-radius: 50%;
        display: flex;
        align-items: center; 
        justify-content: center; 
        background-color: #e7e9fc; 
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    }
    .modal-button:hover {
        background-color: #404bbf; 
        border: none; 

    }
    .modal-button:focus {
        background-color: #404bbf; 
        border: none; 
    }
    .modal-button:hover  .modal-icon {
        fill: #ffffff;
    }
    .modal-button:focus  .modal-icon {
        fill: #ffffff;
    }

    .modal-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .modal-text {
        font-weight: 500; 
        font-size: 16px; 
        line-height: 1.5; 
        text-align: center; 
        letter-spacing: 0.02em; 
        color: #2E2F42 ;
        margin-bottom: 16px; 

    }
    .modal-formcontainer {
        margin-bottom: 8px; 
    }
    .form-username {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px; 

    }
    .text-username {
        position: relative;
    }
    .input-username {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent; 
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .input-username:focus {
        border-color: #4D5AE5; 
        fill: #4D5AE5;
    }
    .form-icon {
        position: absolute;
        left: 16px;
        top: 50%; 
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    }
    .input-username:focus + .form-icon {
        fill: #4D5AE5;
    }
    .modal-comment {
        margin-bottom: 16px 
    }
    .modal-textarea {
        width: 100%;
        height: 120px; 
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4); 
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px; 
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent; 
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


    }
    .modal-textarea:focus {
        border-color: #4D5AE5;
    }
    .modal-chekbox {
       
        margin-bottom: 24px;
    }
    .label-chekbox {
        font-size: 12px; 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

    }
    .check-icon {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 2px; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        fill: transparent; 
    }
    .chek-link {
        color: #4d5ae5;
    }
    .form-button {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto;
    }
    .user-chekbox:checked + .label-chekbox
    > .check-icon  {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
    }
    /* .check-icon:checked {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
    } */