/* color
iris - #4D5AE5; primary brand
ocean -#404BBf; pressed
navy blue -#2E2F42; dark
green - #31D0AA;  success
slate - #434455;  text
ligth slate -#8E8F99;  subtle text
cornflower - #E7E9FC;  accent
cloud - #F4F4FD; light background
navy blue modal - #2E2F42; modal overlay
grey - #2E2F42; hero background               ?
white - #FFFFFF; white background
dairy - #FCFCFC; modal background

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body {
    background-color: #ffffff;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    
}
ul {
    list-style-type: none;
}
img {
	display: block;
    max-width: 100%;
}

.container { 
   
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right:  auto;
}
.container-header {
    /* width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right:  auto; */
    display: flex;
    justify-content: space-between;
        
    
}


/* Hidden header */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


section {
    padding: 156;
}


/*Headlines*/

h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em
}
h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
p {
line-height: 1.5;
letter-spacing: 0.02em;
}
/*Header*/
.main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*Logo*/
.link-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.logo-header {
    color: #2E2F42;
}
.logo-footer {
    color: #F4F4FD;
}
.link  {
    position: relative; 
    display: inline-block;
    text-decoration: none; 
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.link-port  {
    position: relative; 
    display: inline-block;
    text-decoration: none; 
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-cont 

{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 
.site-nav .link:hover {

    color: #404BBf
}
.site-nav  .link:focus {
    
    color: #404BBf
}
.link:after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 4px;
    left: 0;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;

}
address {
font-style: normal;

}
.link-contact{
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link-contact:hover,
.link-contact:focus {
    color: #404bbf;
}
.site-nav {
    display: flex;
    align-items: center; 
    margin-right: 0;
}
.main-nav {
    display: flex;
   flex-direction: row;
    gap: 40px;
   
    
}
.site-contact {
    display: flex;
    gap: 40px;
   
    padding-top: 24px;
    padding-bottom: 24px;
  
    
    

}
/*Hero*/
.hero {
    background-color: #2E2F42 ;
    text-align: center;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover; 
}
.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;


}
/*Button*/
.button {
    display: block;
    min-width: 169px;
    background-color: #4D5AE5 ;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
}
.button:hover {
    background-color: #404BBf;
}
.button:focus {
    background-color: #404BBf;
}
/* Our advantages */
.advantage-main {
    padding: 120px 0 120px;

}
.advantages-background {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px; 
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  
    
} 
.advantages-sprite {
    width: 64px;
    height: 64px;
}
.ouradvant-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
   
    
}
.list-title {
    margin-bottom: 8px;
}
.ouradvant-item {
    flex-basis: calc((100% - 72px) / 4);
}
/*Our portfolio*/

.portfolio{
    padding: 120px 0 120px 0;
}
.data-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-portfolio {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    
}
.titles-portfolio {
    margin-bottom: 8px;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;               }

 .item-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }   
.item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    

}


    
     


/*Our team*/
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.title-ourteam {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
  
    margin-bottom: 72px;
    
}
.list-ourteam {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
    
}
.item-ourteam {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.text-team {
    font-size: 16px;
    text-align: center;
    
}
.data-team {
    padding: 32px 0;
    text-align: center;
}
.title-team {
    margin-bottom: 8px;
}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
  

}

.team-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sprite {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD ;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-sprite:hover {
    background-color: #404BBf ;
    fill: #F4F4FD ;
  }
  .team-sprite:focus {
    background-color: #404BBf ;
    fill: #F4F4FD ;
  }
  
/*Footer*/
.container-position {
    display: flex;
    align-items: baseline;
}

footer {
    background-color: #2E2F42;
    padding: 100px 0 100px;
}
.footer-text {
    width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}
.link-logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    
}
.footer-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.footer-list {
    display: flex;
    gap: 16px;
}
.footer-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sprite {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD ;
    background-color: #4d5ae5 ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-sprite:hover {
    background-color: #31D0AA ;
    fill: #F4F4FD ;
  }
  .footer-sprite:focus {
    background-color: #31D0AA ;
    fill: #F4F4FD ;
  }
  .footer-inscripshion {
    margin-right: 120px;
  }
  .footer-icon {
    fill: #f4f4fd;
  }
  .icon-subs {
    margin-left: 80px;
  }
  .form-subs {
    display: flex;
    justify-content: center;
    gap: 24px;
    
   }
   .button-subs {
    display: flex;
    justify-content: center; 
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.06em;
    min-width: 165px;
    height: 40px;
    align-items: center;
    text-align: center;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    border: 1px; 
    letter-spacing: 0.04em;
    cursor: pointer;

  }

  .form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff; 
    border-radius: 4px;
    padding-left: 16px;
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    
  }

  .icon-footer {
    margin-left: 16px; 
    fill: #fff;
  }
  /*Porfolio overlay*/

    .picture-overlay {
        position: relative;
        overflow: hidden;
    }
    .text-overlay {
        position: absolute; 
        top: 0; 
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd; 
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
   
    .item-portfolio:hover .text-overlay {
        transform: translateY(0%);
    }
    /* Modal */
    .container-modal {
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 500ms linear, visibility 500ms linear;

    }
    .container-modal.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .modal {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc; 
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px; 


        

    }
    .modal-button {
        position: absolute; 
        top: 24px;
        right: 24px; 
        width: 24px;
        height: 24px; 
        border-radius: 50%;
        display: flex;
        align-items: center; 
        justify-content: center; 
        background-color: #e7e9fc; 
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    }
    .modal-button:hover {
        background-color: #404bbf; 
        border: none; 

    }
    .modal-button:focus {
        background-color: #404bbf; 
        border: none; 
    }
    .modal-button:hover  .modal-icon {
        fill: #ffffff;
    }
    .modal-button:focus  .modal-icon {
        fill: #ffffff;
    }

    .modal-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .modal-text {
        font-weight: 500; 
        font-size: 16px; 
        line-height: 1.5; 
        text-align: center; 
        letter-spacing: 0.02em; 
        color: #2E2F42 ;
        margin-bottom: 16px; 

    }
    .modal-formcontainer {
        margin-bottom: 8px; 
    }
    .form-username {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px; 

    }
    .text-username {
        position: relative;
    }
    .input-username {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent; 
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .input-username:focus {
        border-color: #4D5AE5; 
        fill: #4D5AE5;
    }
    .form-icon {
        position: absolute;
        left: 16px;
        top: 50%; 
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    }
    .input-username:focus + .form-icon {
        fill: #4D5AE5;
    }
    .modal-comment {
        margin-bottom: 16px 
    }
    .modal-textarea {
        width: 100%;
        height: 120px; 
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4); 
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px; 
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent; 
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


    }
    .modal-textarea:focus {
        border-color: #4D5AE5;
    }
    .modal-chekbox {
       
        margin-bottom: 24px;
    }
    .label-chekbox {
        font-size: 12px; 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

    }
    .check-icon {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 2px; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        fill: transparent; 
    }
    .chek-link {
        color: #4d5ae5;
    }
    .form-button {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto;
    }
    .user-chekbox:checked + .label-chekbox
    > .check-icon  {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
    }
    /* .check-icon:checked {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
    } */